@charset "utf-8";
/* CSS Document */
*, *:before, *:after {
	box-sizing: border-box;
}
.container {
	width: 960px;
	height: 500px;
	margin: 0 auto;
	background-color:rgba(138,0,2,0.62);
}
.micro {
	width: 27%;
	height: auto;	
	border: solid 2px;
}

.img-fluid {
	width: 100%;
}
.clearfix {
	clear: both;
}
.d-flex{
	display: flex;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.space-evenly {
	justify-content: space-evenly;
}
.wrap {
	flex-wrap: wrap;
}
.uno {
	order: 1;
}
.due {
	
}

.tre {
	order: 2;
}

.a, .b, .c{
	height: 200px;
}

.a {
	background-color:rgba(0,0,0,1.00);
	flex-grow: 1;
}
.b {
	background-color:rgba(255,0,4,1.00);
	flex-grow: 2;
	align-self: center;
}
.c {
	background-color:rgba(255,150,0,1.00);
	flex-grow: 4;
	align-self: flex-end
}
.mt-5 {
	
}