@charset "utf-8";
/* CSS Document */
*, *:before, *:after {
	box-sizing: border-box;

}

.a {
	background-color:rgba(0,0,0,1.00);
	flex-grow: 1;
}
.b {
	background-color:rgba(255,0,4,1.00);
	flex-grow: 2;
	align-self: center;
}
.c {
	background-color:rgba(255,150,0,1.00);
	flex-grow: 4;
	align-self: flex-end
}
.mt-5 {
	
}
